body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.card {
  margin-top: 50px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
.devider{
  margin-top: 20px;
  width: 80%;
  height: 0;
  background-color: rgb(117, 115, 115);
}
p{
text-align: center;}